:root {
  --primary: #ffac5d;
  --secondary: #ffffff;

  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  box-sizing: border-box;
  min-height: 100%;
  overscroll-behavior: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 12px
}

li {
  list-style-type:none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  height: 100%;
}

hr {
  border-width: .5px;
  width: 100%;
  animation: border_anim .4s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 20px;
}

.page-enter, .page-leave-to{
  opacity: 0;
}

.page-enter-active, .page-leave-active{
  transition: opacity .6s;
}

.layout-enter, .layout-leave-active{
  opacity: 0;
}

.layout-enter-active, .layout-leave-active{
  transition: opacity .6s;
}
