h1 {
  text-align: center;
}

table {
  width: 100%;
  align: center;
  text-align: center;
}

th {
  width: 10%;
}

tr {
  height: 40px;
}


.page-break {
  page-break-after:always;
  &:last-child {
    page-break-after: avoid;
  }
}

table, td, th, tr{
  border: 1px #333333 solid;
  border-collapse: collapse;
}
