h1 {
  text-align: center;
}

.page-break {
  page-break-after: always;
}

.page-break:last-child {
  page-break-after: avoid;
}

table {
  width: 100%;
  align: center;
  text-align: center;
}

.info th {
  width: 20%;
}

.info tr {
  height: 40px;
}

.info td {
  width: 40%;
}


.items tr {
  height: 40px;
}

.items {
  table-layout: fixed;
  font-size: 12px;
}

.items th,
.items td {
  padding: 3px;
  overflow-wrap: break-word;
  word-break: normal;
}

.date-value {
  white-space: nowrap;
}

.individual-items .item-name-column {
  width: 14%;
}

.individual-items .pickup-location-column {
  width: 15%;
}

.individual-items .quantity-column {
  width: 7%;
}

.individual-items .remark-column {
  width: 20%;
}

.individual-items .pickup-date-column,
.individual-items .return-date-column {
  width: 18%;
}

.individual-items .confirmation-column {
  width: 8%;
}

.all-groups-items .item-name-column {
  width: 13%;
}

.all-groups-items .pickup-location-column {
  width: 14%;
}

.all-groups-items .quantity-column {
  width: 6%;
}

.all-groups-items .remark-column {
  width: 18%;
}

.all-groups-items .pickup-date-column,
.all-groups-items .return-date-column {
  width: 16%;
}

.all-groups-items .confirmation-column {
  width: 8.5%;
}

.all-groups-info-items .item-name-column {
  width: 25%;
}

.all-groups-info-items .pickup-location-column {
  width: 25%;
}

.all-groups-info-items .quantity-column {
  width: 10%;
}

.all-groups-info-items .remark-column {
  width: 40%;
}

.padding-top{
  padding-top: 20px;
}

table, td, th, tr{
  border: 1px #333333 solid;
  border-collapse: collapse;
}
